---
import { config } from "@parseConfig"

const year = new Date().getFullYear()
---

<footer
  class="mt-16 inline-flex items-baseline justify-between gap-x-4 pt-8 text-xs text-muted-foreground sm:text-sm"
>
  <p>
    &copy; {year} &nbsp;
    <span class="font-medium text-foreground/80">{config.site.author}</span>
  </p>
</footer>
